@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&family=Righteous&family=Ropa+Sans&display=swap');

body {
  margin: 0 25px 0 25px;
	padding: 0;
  background-image: url(media/CubeGif.gif);
background: rgb(90,205,245);
background-repeat:none;
background: white;

}

.hero{
  width: 90vw;
  height: 60vh;
  background-size:40%;
  background-image: url(media/CubeGif.gif) ;
  background-repeat: no-repeat;
  background-position: center;
  float: right;

}

.navBar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 50px;
  }
  
  nav{
      width: 80vw;
      height: 6vw;
      display:block;
      float: right;
    }


  .navBar{
      overflow: hidden;
      border-radius: 15px;
      background-color: rgb(120, 142, 163);
      margin-left: auto;
      margin-right: auto;
      height: 110px;
  }

  .navBar a {
    float:left;
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
    font-family: sans-serif;
  }
  
  .navBar a:hover {
    color: darkblue;
  }
  
  .navBar a.active {
    background-color: #00579e;
    color: white;
  }

  

  header img{
    background-repeat: no-repeat;
    margin-top: -40px;
    height: 12vw;
    width: auto;
  }

  .container {
      display: flex;
      justify-content: flex-start;
  }

  h1 {
    font-family: 'Philosopher', sans-serif;
    color: aliceblue;
  }

  h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  p{
    font-family: 'Ropa Sans', sans-serif;
    color: rgba(0, 0, 0, 0.171);
  }

  #home-grid-container {
    padding-top: 5px;
      width: 90vw;
      height: auto;
      margin: 0 5vw 0 5vw;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
  }

.home-grid-item {
  background-color: white;
  border: 2px solid black;
  
  margin-left: auto;
  margin-right: auto;
  height:fit-content;
  width: fit-content;
}

.home-grid-item p{
    font-size: 20px;
}
  
  #imgID {
    float: right;
    margin: 0 0 0 15px;
    width: 50%;
    padding-bottom:15px;
    padding-right: 15px;
    filter: invert(75%);
    filter: blur(30%);
  }

  footer {
    background-color: rgba(190, 190, 190, 0);
    height: fit-content;
    width: fit-content + 50%;
    outline-style: double;
    outline-color: black;
    outline-width:5px;
  }

  #footerContent{
    text-align: center;
  }

  #footerContent h1 {
    text-shadow: 1.5px 1.5px white ;
  }


  #plugins-home-display{
    width: 75vw;
    height: 30vh;
    display: grid;
  }

  .plugin-list-box {
    background: white;
    border-radius: 12px;
    padding: 7px;
    overflow: hidden;
    width: 23vw;
    height: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .fa {
    padding: 15px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
  }

  #hinge1{
    animation-delay: 2s;
    animation-duration: 4s;
    animation-fill-mode: forwards; 
  }

  #hinge2{
    animation-delay: 3.4s;
    animation-duration: 6s;
    animation-fill-mode: forwards; 
  }

  #hinge1{
    animation-delay: 2s;
    animation-duration: 4s;
    animation-fill-mode: forwards; 
  }

  #terms{
    animation-delay: 6s;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }

  @keyframes animate__hinge {
    100%{
        display:none;
    }
  }

  @keyframes animate__wobble {
    0%   {left: 300px; top: -50px;}
    25%  {left: 70px; top: 90px;}
    50%  {left: 120px; top: -20px;}
    75%  {left: -40px; top: -30px;}
    100% {left: 0px; top: 0px;}
  }

  #gInMessaging{
    display: inline-block;
    position: relative;
    font-size: 1em;
    animation-duration: 2s;
    /*-webkit-animation-name: animate_wobble;
    animation-name: slideOutLeft;
    -webkit-animation-duration: 5s;
   animation-duration: 5s;*/
  }


  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  #vidButton{
    font-size: large;
    margin-top: 10px;
    width: 15vw;
    height: 5vh;
    background-color: rgb(130, 130, 255);
    outline: none;
    border: none;
    font-weight: bold;
  }
  
   #vidButton:hover{
      cursor: pointer;
      background-color: #46d079;
    }

    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }


.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 6; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(205, 38, 38); /* Fallback color */
  background-color: rgba(191, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-header {
  padding: 2px 16px;
  background-color:rgb(90,205,245);
  color: rgb(0, 0, 0);
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: rgb(90,205,245);
  color: rgb(0, 0, 0);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(205, 38, 38); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #ffffff;
  margin: auto;
  padding: 0;
  border: 3px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    background-color:rgba(255, 130, 130, 0.607) ;
  }
}

#introVideo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 0;
}
