body {
  background-color: aqua;
}
.navBar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  nav{
      width: 60vw;
      height: 7vw;
      display:block;
      float: right;
    }
  .navBar{
      overflow: hidden;
      background-color: rgb(120, 142, 163);
      margin-left: auto;
      margin-right: auto;
  }

  .navBar a {
    float:left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
    font-family: sans-serif;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgba(86, 158, 154, 0.596);
    color: black;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color: #00579e;
    color: white;
  }

  header img{
    background-repeat: no-repeat;
    margin-top: -40px;
    height: 12vw;
    width: auto;
    background-color: darkgoldenrod;
  }

  .container {
      display: flex;
      justify-content: flex-start;
  }

  #home-grid-container {
      width: 90vw;
      height: 70vw;
      margin: 0 5vw 0 5vw;
  }

#home-grid-container{
      display: grid;
      grid-template-columns: repeat(2, 1fr);

  }

.home-grid-item {
  background-color: white;
  border: 2px solid black;
  border-radius: 25px;
  margin-left: auto;
        margin-right: auto;
        width: 90%;
        max-height: 400px;
        min-width: 300px;
    padding-left: 2vw;
    padding-top: 2vw;
    
}

.home-grid-item p{
    font-size: 20px;
}

  #homeBody img{
      left: 0px;
      image-orientation: turn;
  }
  
  #imgID {
    float: right;
    margin: 0 0 0 15px;
  }

  
